<nav>
  <ul>
    <li><%= link_to "Back to Home", root_path %></li>
  </ul>
</nav>
<h1>All Openings</h1>
<ul>
  <% @openings.each do |opening| %>
    <li>
      <%= link_to opening.opening_name, opening %>
    </li>
  <% end %>
</ul>